@using WebUI.Utility
@model float?

@{
    float f;
    if (!Model.HasValue)
    {
        f = 0.0f;
    }
    else
    {
        f = Model.Value;
    }
}

<div class="form-group-sm@(Html.ValidationErrorFor(m => m, " has-error"))">
    @Html.LabelFor(m => m, new { @class = "control-label" },"",true)
    <div class="input-group">
        @Html.TextBox(
        "", f,
                                   ViewBag.ClearTextField == true ? new { @class = "form-control clear-text-field input-block-level input-sm ", autocomplete = "off" } : new { @class = "form-control input-block-level input-sm", autocomplete = "off" })<span class="input-group-addon">0,00</span>
    </div>
    @Html.ValidationMessageFor(m => m, null, new { @class = "help-block" })
</div>
