<div id="menu">
    <ul class="site-menu">
        <li class="site-menu-category">Navigator</li>        
        @Html.MenuItem("<i class='site-menu-icon wb-home'></i> <span class='site-menu-title'> Dashboard </span>", "Dashboard", "Index", "home", new { @class = "site-menu-item" })       
        @Html.MenuItem("<i class='site-menu-icon wb-user'></i> <span class='site-menu-title'> My Profile </span>", "My Profile", "Index", "Employee", new { @class = "site-menu-item" })
        
    </ul>
</div>